<header class="header">
    <div class="logo">
        <img src="/images/logo2(1).png" alt="Logo" id="logo">
        <a href="/" class="cabeca">BeatSync</a>
    </div>
    <nav class="nav">
        <ul>
            <li class="nav-link">
                <a href="/login" class="link">Login</a>
            </li>
            <li class="nav-link">
                <a href="/cadastro" class="link">Cadastro</a>
            </li>
            <li class="nav-link">
                <a href="/sobreNos" class="link">Sobre Nós</a>
            </li>
        </ul>
    </nav>
</header>