
<main id="treino">
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Cardio</h1>
        <div id="table-conjunto">
            <table class="table-treino">
                <tr>
                    <th class="tipo-info">Tipo</th>
                    <th class="tipo-info">Exercícios</th>
                    <th class="tipo-info">Tempo em minutos</th>
                    <th class="tipo-info">Aplicabilidade</th>
                    <th class="tipo-info">Exemplos</th>
                </tr>
                <tr>
                    <td>cardio</td>
                    <td>[Corrida]</td>
                    <td>20</td>
                    <td>Trabalha o sistema cardiovascular, pernas, core e promove a queima de calorias. Ideal para melhorar a resistência cardiorrespiratória, saúde do coração e ajudar na perda de peso.</td>
                    <td><a class="link-btn-table" href="https://www.corridaperfeita.com/como-correr-corretamente/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>cardio</td>
                    <td>[Escada]</td>
                    <td>20</td>
                    <td> Foca nos quadríceps, glúteos, panturrilhas e melhora a capacidade cardiovascular. Excelente para fortalecer as pernas, melhorar a resistência e queimar calorias.</td>
                    <td><a class="link-btn-table" href="https://www.uol.com.br/vivabem/noticias/redacao/2022/04/13/treino-na-escada-9-exercicios-para-detonar-calorias-e-fortalecer-as-pernas.htm" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>cardio</td>
                    <td>[Polichinelo]</td>
                    <td>5</td>
                    <td>Trabalha o sistema cardiovascular, core, pernas e braços. Bom para aquecimento, melhorar a coordenação e aumentar a resistência cardiovascular.</td>
                    <td><a class="link-btn-table" href="https://vitat.com.br/polichinelo/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
            </table>
        </div>
            <div class="conjunto-botao">
                <a href="/users/treino">
                    <button class="btn-table">
                      <span class="span-table">Voltar</span>
                    </button>
                </a>
                <a href="/users/playlist">
                    <button class="btn-table">
                      <span class="span-table">Playlists</span>
                    </button>
                </a>
            </div>
        </main>
</body>
