<main id="treino">
        <div class="table-conjunto">
            <h1 class="titulo-table">Exercícios de CrossFit</h1>
            <div id="table-conjunto">
            <table class="table-treino">
                <tr>
                    <th class="tipo-info">Tipo</th>
                    <th class="tipo-info">Exercícios</th>
                    <th class="tipo-info">Séries</th>
                    <th class="tipo-info">Repetições</th>
                    <th class="tipo-info">Aplicabilidade</th>
                    <th class="tipo-info">Exemplos</th>
                </tr>
                <tr>
                    <td>CrossFit</td>
                    <td>[Box Jump]</td>
                    <td>3</td>
                    <td>20</td>
                    <td>Trabalha os quadríceps, glúteos, panturrilhas e core. Ideal para desenvolver potência explosiva, força nas pernas e melhorar a coordenação e agilidade.</td>
                    <td><a class="link-btn-table" href="https://nerdfit.com.br/box-jump-no-crossfit/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>CrossFit</td>
                    <td>[Wall Ball]</td>
                    <td>3</td>
                    <td>15</td>
                    <td>Trabalha os ombros, peitoral, core, quadríceps e glúteos. Excelente para melhorar a resistência muscular, a coordenação e a potência do corpo inteiro.</td>
                    <td><a class="link-btn-table" href="https://www.fidje.com.br/os-muitos-beneficios-do-wall-ball-e-tres-variacoes-para-maximizar-a-potencia-do-seu-exercicio/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>CrossFit</td>
                    <td>[Medicine Ball Clean]</td>
                    <td>3</td>
                    <td>15</td>
                    <td>Fortalece os glúteos, quadríceps, isquiotibiais e core. Útil para melhorar a coordenação, força total do corpo e técnica de levantamento.</td>
                    <td><a class="link-btn-table" href="https://www.yopro.com.br/9-exercicios-com-a-medicine-ball-para-o-corpo-inteiro/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>CrossFit</td>
                    <td>[Air Squat]</td>
                    <td>3</td>
                    <td>20</td>
                    <td>Trabalha principalmente os quadríceps, glúteos e core. Fundamental para o desenvolvimento de força nas pernas, mobilidade e estabilidade geral.</td>
                    <td><a class="link-btn-table" href="https://www-healthline-com.translate.goog/health/air-squats?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt&_x_tr_pto=tc" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>CrossFit</td>
                    <td>[Push up]</td>
                    <td>3</td>
                    <td>30</td>
                    <td>Foca no peitoral, tríceps, ombros e core. Essencial para o fortalecimento da parte superior do corpo e desenvolvimento da resistência muscular.</td>
                    <td><a class="link-btn-table" href="https://www-verywellfit-com.translate.goog/the-push-up-exercise-3120574?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt&_x_tr_pto=tc" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
            </table>
        </div>
            <div class="conjunto-botao">
                <a href="/users/treino">
                    <button class="btn-table">
                      <span class="span-table">Voltar</span>
                    </button>
                </a>
                <a href="/users/playlist">
                    <button class="btn-table">
                      <span class="span-table">Playlists</span>
                    </button>
                </a>
            </div>
        </main>
</body>