<main id="treino">
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Funcional</h1>
        <div id="table-conjunto">
            <table class="table-treino">
                <tr>
                    <th class="tipo-info">Tipo</th>
                    <th class="tipo-info">Exercícios</th>
                    <th class="tipo-info">Tempo em minutos</th>
                    <th class="tipo-info">Aplicabilidade</th>
                    <th class="tipo-info">Exemplos</th>
                </tr>
                <tr>
                    <td>Funcional</td>
                    <td>[Corda Naval]</td>
                    <td>1</td>
                    <td>Trabalha os braços, ombros, core, e melhora a resistência cardiovascular. Ideal para treinos de condicionamento físico e queima de calorias.</td>
                    <td><a class="link-btn-table" href="https://www.ativo.com/fitness/treinamento-fitness/treino-com-corda-naval-beneficios-e-exercicios/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Funcional</td>
                    <td>[Agachamento Bulgaro]</td>
                    <td>1</td>
                    <td> Fortalece os quadríceps, glúteos e isquiotibiais, além de melhorar o equilíbrio e a estabilidade. Excelente para treinar força unilateral e corrigir desequilíbrios musculares.</td>
                    <td><a class="link-btn-table" href="https://www.tuasaude.com/agachamento-bulgaro/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Funcional</td>
                    <td>[Skipping]</td>
                    <td>3</td>
                    <td>Trabalha o cardio, pernas e core. Aumenta a resistência, coordenação e velocidade, sendo ótimo para treinos de alta intensidade e aquecimento.</td>
                    <td><a class="link-btn-table" href="https://www.smartfit.com.br/news/fitness/skipping-como-fazer-corrida-estacionaria/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Funcional</td>
                    <td>[Afundo]</td>
                    <td>1</td>
                    <td> Foca nos quadríceps, glúteos e isquiotibiais, melhorando a força das pernas e o equilíbrio. Útil para desenvolver força unilateral e mobilidade.</td>
                    <td><a class="link-btn-table" href="https://www.tuasaude.com/afundo/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Funcional</td>
                    <td>[Pular Corda]</td>
                    <td>3</td>
                    <td>Trabalha o sistema cardiovascular, pernas, braços e core. Ótimo para melhorar a coordenação, resistência e queimar calorias de forma eficiente.</td>
                    <td><a class="link-btn-table" href="https://www.smartfit.com.br/news/fitness/como-pular-corda/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
            </table>
        </div>
            <div class="conjunto-botao">
                <a href="/users/treino">
                    <button class="btn-table">
                      <span class="span-table">Voltar</span>
                    </button>
                </a>
                <a href="/users/playlist">
                    <button class="btn-table">
                      <span class="span-table">Playlists</span>
                    </button>
                </a>
            </div>
        </main>
</body>