<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatSync</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/c5bec8fe20.js" crossorigin="anonymous"></script>
</head> 
<body>
        <%- include('partials/navbar') %>
        <%- body %>
        <%- include('partials/footer') %>
</body>
</html>


