<main id="treino">
    <div class="table-conjunto">
        <h1 class="titulo-table">Exercícios de Musculação</h1>
        <div id="table-conjunto">
            <table class="table-treino">
                <tr>
                    <th class="tipo-info">Tipo</th>
                    <th class="tipo-info">Exercícios</th>
                    <th class="tipo-info">Séries</th>
                    <th class="tipo-info">Repetições</th>
                    <th class="tipo-info">Aplicabilidade</th>
                    <th class="tipo-info">Exemplos</th>
                </tr>
                <tr>
                    <td>Peito</td>
                    <td>[Flexão de Braço]</td>
                    <td>4</td>
                    <td>20</td>
                    <td>Trabalha principalmente o peitoral, tríceps e ombros, além de engajar o core. Excelente para aumentar a força do tronco superior e a resistência muscular.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/12/26/exercicios-para-peito/#9-flexao-de-braco" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Costas</td>
                    <td>[Barra Fixa]</td>
                    <td>4</td~>
                    <td>15</td>
                    <td> Foca nos dorsais, bíceps e outros músculos das costas e ombros. Ideal para aumentar a força da parte superior do corpo e melhorar a postura.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2019/05/05/exercicios-para-costas/#barra-fixa" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Pernas</td>
                    <td>[Agachamento]</td>
                    <td>5</td>
                    <td>20</td>
                    <td>Trabalha principalmente os quadríceps, glúteos e isquiotibiais. Essencial para a força das pernas, estabilidade do core e funcionalidade geral do corpo.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2024/07/24/exercicios-para-pernas/#1-agachamento-livre" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Ombro</td>
                    <td>[Elevação Lateral]</td>
                    <td>4</td>
                    <td>15</td>
                    <td>Foca nos músculos deltóides laterais. Ajuda a desenvolver os ombros e a criar uma aparência de maior largura na parte superior do corpo.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/09/16/elevacao-lateral/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                <tr>
                    <td>Abdomên</td>
                    <td>[Abdominal]</td>
                    <td>5</td>
                    <td>30</td>
                    <td>Trabalha principalmente os músculos abdominais. É útil para fortalecer o core, melhorar a estabilidade e apoiar a postura.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2017/09/21/exercicios-para-abdomen/#1-abdominal" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
                <tr>
                    <td>Braços</td>
                    <td>[Rosca Alternada]</td>
                    <td>4</td>
                    <td>15</td>
                    <td>Trabalha os bíceps de maneira isolada. Ajuda a desenvolver a força e a definição dos braços.</td>
                    <td><a class="link-btn-table" href="https://www.hipertrofia.org/blog/2018/09/05/rosca-alternada/" target="_blank"><button class="btn-interno-table"><i class="fa-solid fa-arrow-right"></i></button></a></td>
                </tr>
            </table>
        </div>
            <div class="conjunto-botao">
                <a href="/users/treino">
                    <button class="btn-table">
                      <span class="span-table">Voltar</span>
                    </button>
                </a>
                <a href="/users/playlist">
                    <button class="btn-table">
                      <span class="span-table">Playlists</span>
                    </button>
                </a>
            </div>
        </main>
</body>