<main id="body">
    <div id="sobreNos">
        <p id="sobre">Este website foi idealizado como trabalho de conclusão de curso
        <br>pelos alunos Daniel Ferraz dos Santos e Eduardo Ferraz Alves, cursando
        <br>Informárica para Internet no Instituo Federal Catarinense Campus Sombrio.
        <br>Este website tem como propósito motivar a prática de atividade física
        <br>através da música.</p>
    </div>
</main>